EXPO_PUBLIC_API_BASE_URL=https://booking-api-fdgxg9cbc6chbqc8.francecentral-01.azurewebsites.net
EXPO_PUBLIC_AUTH_BASE_URL=https://booking-api-fdgxg9cbc6chbqc8.francecentral-01.azurewebsites.net
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
